---
layout: shape.liquid
---

<div class="title">
  <h1 class="home">BD</h1>
  <svg width="145" height="88.9" xmlns="http://www.w3.org/2000/svg">
    <path
      d="M74.2 72.6q0-3.7.6-7.3l1-7.4a65.2 65.2 0 0 0 .3-7 64.4 64.4 0 0 0-.2-6q-.6-6.4-1.6-12.8-1.5-9.6 1.5-18 .9-2.7 2.4-5.2 1.6-2.6 2.8-5.3.2-.5.8-.6l1.2-.2a68.3 68.3 0 0 1 2.1 0 68.4 68.4 0 0 1 4.3.1q3.2.2 6.3 1 1.2.3 2.6.3 7.4-.2 14.3 1.4 6.9 1.6 13 6l4.5 2.5q2.4 1.2 4.6 2.6 5.4 3.2 6.9 9.2L144 36a31 31 0 0 1 1 7.4 32 32 0 0 1-.2 3q-.4 4.7-2.4 8.6-2 4-6.2 6.5l-5.4 3.3q-2.7 1.7-5.6 3.1-2.4 1.3-4.3 3.6l-4 4.2-1 1.3q-.6.6-1.3 1-4 1.2-7.7 3t-7.6 3.2q-3.8 1.4-8.1 1.7a25.9 25.9 0 0 1-2 .1 25.5 25.5 0 0 1-6.1-.8q-4-1-8.1-1.5-1.1-.2-1.3-1l-.2-1.9.3-4 .3-4.2ZM42.8 27.2l-.1 2.2q0 1-.4 1.5a4.5 4.5 0 0 0-.8 2.3 2 2 0 0 0 .3 1q.8 1.3 2.6 2.3 4 2.3 6 6.2 1.8 3.8 3.2 8 1 3 1.6 6 .6 3.1.9 6.3a23.5 23.5 0 0 1 0 1.7 12.4 12.4 0 0 1-3 8.9A13.4 13.4 0 0 1 43 77a26.7 26.7 0 0 1-.3 0 12 12 0 0 0-.7 0 10.5 10.5 0 0 0-3 .4q-1.6.5-2.5 2.1-1.8 3.2-4.6 4.8-2.7 1.6-5.8 2.4l-6.3 1.6q-3.1.7-6.1.3l-6-.9q-2-.3-2.8-1.5-1-1.3-1.3-3-1-5.4-1.5-10.7l-.8-10.8Q.4 50 0 38.1a214.3 214.3 0 0 1-.1-5.4 214.9 214.9 0 0 1 .8-18.2l.5-5.4q.2-2 1-3.4.9-1.4 3-2.4 2.3-1 6.5-2.3a23.4 23.4 0 0 1 6.7-1 20.5 20.5 0 0 1 7.9 1.6q6.9 2.8 10.9 10 2 3.6 3.8 7.6 1.7 4 1.7 8ZM14.4 87a17.9 17.9 0 0 0 2.5.2 20.2 20.2 0 0 0 4.7-.6q3.8-.9 7.5-2.3 4-1.6 5.2-5.4a24.7 24.7 0 0 0 1.2-7.6 22.4 22.4 0 0 0-.8-6.2A57.7 57.7 0 0 0 30 53.2a28.9 28.9 0 0 0 0 0q-2.5-4.4-6.5-6.3A23.6 23.6 0 0 0 13.2 45a46 46 0 0 0-.6 0h-1.2q-.5-.2-.6-.9 0-1 .7-1.2l1.4-.3q6.7-1 11.1-4.9 4.5-3.8 7.3-9.4a13.8 13.8 0 0 0 1.8-6.8 12.7 12.7 0 0 0 0-.5q-.1-3.7-2.6-6.8-2.7-3.4-6.8-5.5-4-2-8.6-2.5a19.7 19.7 0 0 0-2-.1A20.2 20.2 0 0 0 6 7.4q-3 1.3-3 4-.1 5-.9 10a53.1 53.1 0 0 0-.6 8 52.7 52.7 0 0 0 0 2q.3 4.3.3 8.6v8.5L3 64q.7 7.7 1.8 15.4.5 3.5 1.1 5 .7 1.5 2.6 2 1.9.3 6 .6ZM78 74a20 20 0 0 0 0-1.2 150.3 150.3 0 0 0 .2-8.4 145.3 145.3 0 0 0-.3-9.2 159.1 159.1 0 0 1-.3-10 156.2 156.2 0 0 1 .2-7.3 102 102 0 0 0 .1-5.7 100.5 100.5 0 0 0 0-4.8 219.7 219.7 0 0 1-.3-10.5q0-3.5 3.4-3.8a47.6 47.6 0 0 1 4.3-.2 41.7 41.7 0 0 1 10.1 1.2q6.9 1.7 12.7 7 6 5.5 9.8 12.2 3.7 6.7 4 15a59.9 59.9 0 0 1 .1 2.2 56.9 56.9 0 0 1-.5 8q-.7 5-3.2 9.3-2.4 4.3-7.4 7.8-4.3 3.1-8.7 5.7-4.4 2.6-10 3.2a22.4 22.4 0 0 1-2.4.2 21 21 0 0 1-4.5-.5q-3.4-.8-7-1.4-1.1-.2-1-.8v-1.4l.6-4A26.6 26.6 0 0 0 78 74Zm10.7-62.5 5.4.7q2.7.3 5.3.8 6.6 1.3 12.2 4.4 5.7 3 8.8 9.3 4 8.5 5.4 17.7a51.6 51.6 0 0 1 .5 7.2 55.2 55.2 0 0 1-1.2 11.4l-.4 1.3q-.3.7.2 1.2.5.4 1.1.2l1.4-.5q4.7-1.6 7.3-4.9 2.7-3.3 3.4-8 1.2-8.6-.6-16.4-1.8-7.9-5.8-15.3-1.6-3.2-4.2-5-2.5-1.8-6.1-2.7-5.7-1.6-11.6-2.7-5.8-1.2-11.3-3.8-3-1.5-6.3-2.2a20.6 20.6 0 0 0-4.3-.4 22.2 22.2 0 0 0-2.5.1q-2.7.4-3.8 1.6-1.1 1.1-1.3 3.8 0 2.2 2 2.1h3.2l3.2.1ZM92 25.2q6.6.4 11.6 3.6t7.9 8.2q2.9 5 2.9 11 0 4.1-2.2 8-2.1 4-5.8 6.8-3.7 3-8.2 4-3.7 1-7.7 1.5a10.8 10.8 0 0 1-.9 0 3.9 3.9 0 0 1-2.6-.7q-1-.9-1.1-3.3l-.4-13-.3-13V35a10.5 10.5 0 0 0 0-.3 11 11 0 0 0-.4-3 9 9 0 0 1-.4-2.4 3.7 3.7 0 0 1 .5-2q1-1.6 4-2a12.8 12.8 0 0 1 1.3 0 10 10 0 0 1 .6 0h1.2ZM18.8 43q2.5 1.4 4.8 2.1 2.4.7 3.9 2.5 4.2 4.7 6.9 10.2 2.7 5.4 3 11.8 0 2.7.3 3.9.3 1.1 1.5 1.4 1.2.2 4 .3 10.8.3 10.8-10-.1-4.8-1.2-9.2-1-4.4-2.7-8.7-2.1-5.7-6.4-8.8-4.3-3.2-9.6-5.3-.8-.3-1.7-.4-.8 0-1.5.8-2.3 3-5 5.5-2.8 2.5-7.1 4Zm93.8 7q.6-8-3-13.2-3.5-5.2-9.1-8.3a16.5 16.5 0 0 0-8.4-2.2 20.7 20.7 0 0 0-1.8.1q-2.1.2-3 1.3a2.7 2.7 0 0 0-.7 1.9 6.8 6.8 0 0 0 .2 1.4q.3 1.3.3 2.6l-.1 2.6a89.3 89.3 0 0 0-.2 5.1 90.6 90.6 0 0 0 .5 9 111.2 111.2 0 0 1 .5 11 112 112 0 0 1 0 3.1q-.2 3 2.9 2.4l4.4-.7q2.2-.4 4.3-1 5.9-2 9.2-6 3.4-4 4-9.2ZM7.3 4.4l5.6-.2q2.7 0 5.5.7a22 22 0 0 1 13.2 7.7 15.6 15.6 0 0 1 .6.8q4 6.2 1.4 15.2a2.8 2.8 0 0 0-.1.7 2.3 2.3 0 0 0 1 2 5.4 5.4 0 0 0 3 1 2.4 2.4 0 0 0 1-.2q1.6-.8 2-3.6a14.7 14.7 0 0 0 .1-1.9 12.7 12.7 0 0 0-1-5.2l-3-6.7q-2.1-5.5-6.7-9-4.6-3.6-10.6-4.1a18 18 0 0 0-1.6-.1 21.2 21.2 0 0 0-10.4 3ZM132 17.1q2.6 4.8 4.5 9.6t2.9 9.8q.9 5 1 10a30.7 30.7 0 0 1 0 .6 36.7 36.7 0 0 1-1.5 10.1q2.5-2.9 3.5-7.3a31.8 31.8 0 0 0 .8-7.3 38 38 0 0 0 0-2.3q-.3-5-1.8-9.8-1.4-4.8-3.8-8.4-2.4-3.6-5.6-5ZM91.2 45.5a56.7 56.7 0 0 0 .3 5.4l-.2 2v1.4a17 17 0 0 0 0 .7 3.1 3.1 0 0 0 .5 2.4 1 1 0 0 0 .6.1 7.8 7.8 0 0 0 2.6-.7q2.5-1 4.6-2.4 2-1.5 3.7-3.7 3.5-4.6 3.6-8.3.2-3.8-3.4-8.3-2.2-2.8-5.2-3.8t-6.4-.9l-1.5.1q-.8.1-.4 1.4 1 3.4 1.2 6.9a156.5 156.5 0 0 1 0 4.5 146.3 146.3 0 0 1 0 2.2 62 62 0 0 0 0 1ZM10.4 64l.2-2.4a10.6 10.6 0 0 0 0-1.2 11.2 11.2 0 0 0 0-1.6 7.3 7.3 0 0 1 0-.6 3 3 0 0 1 1-2.6q1.2-.9 3-1 3.9-.4 6.2.8 2.4 1.2 4.2 4.4l2.6 5.2a9.8 9.8 0 0 1 1 4.3 12.2 12.2 0 0 1-.1 1.5q-.3 2.8-2.1 5.2-1.8 2.4-4.5 3.8-2.7 1.3-5.7 1-2.8-.3-4-1.5-1.3-1.3-1.5-4l-.2-5.5-.1-5.8ZM123 42.5q-.4-5.3-2.3-10.6-1.8-5.4-5.4-9.4-3.6-4-9.1-5.2 6.3 5.2 10.6 11.4 4.4 6.1 6.2 13.8ZM5.2 24.2a18.8 18.8 0 0 0 0 1.1v1.5L5 28.5A3.5 3.5 0 0 0 8.5 33a7.5 7.5 0 0 0 1.8-.3q3.4-.8 6-2.8 2.5-2 3.7-5.4.9-2.6.4-4.9-.5-2.3-2.1-3.8t-4-1.6a11.3 11.3 0 0 0-.5 0 9 9 0 0 0-4 1l-4 2.1a1.4 1.4 0 0 0-.9 1.3 1.7 1.7 0 0 0 .2.6 6.7 6.7 0 0 1 .3 2.1 6 6 0 0 1 0 .9 15 15 0 0 0-.2 2ZM95 31q-1-.2-1.8.1a1.6 1.6 0 0 0-.6 1.6 6.5 6.5 0 0 0 0 .4q.3 4.3.4 8.7l.3 8.7q0 1.7.8 2a1.2 1.2 0 0 0 .4 0 3.1 3.1 0 0 0 1.5-.5q2.3-1.4 4.1-3.1 1.9-1.8 3-4.3l1.4-2.6q.7-1.3.3-2.9-.7-2.8-3.7-5.2-3-2.5-6.1-2.9Zm-68 39q0-3.6-1.6-6.5-1.6-3-4.1-5.5a2 2 0 0 0-1.5-.7 1.7 1.7 0 0 0 0 0q-1 0-1.1 1.5-.3 4.6-.1 9.2l.6 9.3q.2 1.2.9 1.5.7.3 1.5-.4 2-1.7 3.6-3.6 1.7-2 1.9-4.9Zm-10 6.4-.1-8.7-.3-8a9.3 9.3 0 0 1-.1-1.2 13 13 0 0 1 0-.7 1.3 1.3 0 0 0 0 0 1.1 1.1 0 0 0-1.4-1q-2.6 0-2.6 2.6 0 8.3.3 16.6 0 1.2.6 2a2 2 0 0 0 1.8.8 4 4 0 0 0 .3 0q1.5-.2 1.5-1v-1.4Zm85.4-70.9q.8.8 3.3 1.8 2.6 1 5.8 1.8 3.2 1 6.1 1.5 3 .5 4.6.5-4.5-3.4-9.6-4.2l-10.2-1.4ZM18 22.8a13.8 13.8 0 0 0 0-1.4 9 9 0 0 0-.5-3.4q-.5-1-1.5-1.4-1-.4-2-.4-1.1.1-1.5.8-.4.7-.4 1.6L12 23l-.2 4.5v1q.2.6.8 1 .7.2 1.3 0l1-.8q3-2.6 3.2-5.9Zm103.4 43.6q1.3-1.3 2-3.8.9-2.5 1-5.3a17 17 0 0 0 .1-1.2 11.6 11.6 0 0 0-.5-3.7l-1 7q-.4 3.6-1.6 7ZM9.9 24.6h-.2l.1-2.6.2-2.6v-.8q0-.4-.5-.5a1.6 1.6 0 0 0-.5 0 1 1 0 0 0-.5 0q-.4.3-.5.8l-1 5.3a13.1 13.1 0 0 0-.3 2.4 14.3 14.3 0 0 0 .4 3l.5 1a.8.8 0 0 0 .7.3 1.7 1.7 0 0 0 .3 0q.8 0 .9-.6l.2-1V27l.2-2.4Z"
      vector-effect="non-scaling-stroke"
      stroke-linecap="round"
      fill-rule="evenodd"
      font-size="12"
    />
  </svg>
</div>
<ul>
  {% for bd in bds reversed %}
  <li>
    <div class="wrapper">
      <div class="inner">
        <div class="title">
          <i class="date">
            {{ bd.date | date: "%m ・ %Y" }}
          </i>
          <h2>
            {{ bd.title }}
          </h2>
          <i>de {{ bd.author }}</i>
        </div>
        <div class="rating-system">
          <b>{{ bd.rating }}/5</b>
        </div>
      </div>
    </div>
    <div class="vertical-separator">
      <div class="line"></div>
      <div class="round"></div>
      <div class="line"></div>
    </div>
  </li>
  <div class="horizontal-separator">
    <div class="corner"></div>
    <div class="line"></div>
    <div class="corner"></div>
  </div>
  {% endfor %}
</ul>
