<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Des bulles, encore des bulles</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/css/bd.css" />
    <!--
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,900;1,400&family=Lora:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    /> -->
  </head>
  <body>
    <div class="content-wrapper">
      {{ content }}
    </div>
    <div class="footer">2022 © ・ Xavier 💭</div>
  </body>
</html>
